<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#새로-띄워진-창에서-로그인을-한다" data-toc-modified-id="새로-띄워진-창에서-로그인을-한다-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>새로 띄워진 창에서 로그인을 한다</a></span><ul class="toc-item"><li><span><a href="#학생-목록을-먼저-담아온다" data-toc-modified-id="학생-목록을-먼저-담아온다-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>학생 목록을 먼저 담아온다</a></span></li><li><span><a href="#댓글-긁어오기-함수" data-toc-modified-id="댓글-긁어오기-함수-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>댓글 긁어오기 함수</a></span></li><li><span><a href="#복습테스트-함수" data-toc-modified-id="복습테스트-함수-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>복습테스트 함수</a></span></li></ul></li><li><span><a href="#excel--불러와서-한-시트에-합치기" data-toc-modified-id="excel--불러와서-한-시트에-합치기-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>excel  불러와서 한 시트에 합치기</a></span><ul class="toc-item"><li><span><a href="#pds-함수-(옛날거)" data-toc-modified-id="pds-함수-(옛날거)-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>pds 함수 (옛날거)</a></span></li></ul></li></ul></div>

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import pandas as pd
from IPython.display import display
import time
import requests
import re
import glob
import os
import re


driver = webdriver.Chrome('./chromedriver')
driver.implicitly_wait(10)
driver.get('https://nid.naver.com/oauth2.0/authorize?svctype=0&response_type=code&client_id=C9hwybENgOtF&state=IWK3A3NUJQVTFVU2KJPK2DRAZ6L7OXGBFYZHHTH3GMTTXKI6A6ALVCF6SFNE3OLHQ4JVWLE6HFC7Q===&redirect_url=https%3A%2F%2Fauth.band.us%2Fexternal_account_login%3Ftype%3Dnaver')

# 새로 띄워진 창에서 로그인을 한다

## 학생 목록을 먼저 담아온다

In [86]:
class_dic = {}
class_dic['PA3A'] = 'https://band.us/band/85178180'
class_dic['PB3A'] = 'https://band.us/band/85178672'
class_dic['PD3A'] = 'https://band.us/band/85186142'
class_dic['PJ3A'] = 'https://band.us/band/85186150'
class_dic['PURPLE'] = 'https://band.us/band/85186110'
class_dic['RED'] = 'https://band.us/band/85186132'
## class_dic['PB7A'] = 'https://band.us/band/84600978'
## class_dic['PD7A'] = 'https://band.us/band/84601004'

In [89]:
# 학생이름을 먼저 긁어놓는다... 

week = 1

member_count = []
member_dict = {}

for class_id in list(class_dic.keys()):
    
    url = class_dic[class_id]+'/member'
    driver.get(url)
    time.sleep(1.2)
    
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    num = int(soup.select('div.uHeaderWrap > header > h1 > em')[0].text)-2
    member_count.append([class_id, num])
    
    member = soup.select('.ellipsis')[2:] # 위에 두줄은 admin, 이철 
    member_list = {}
    
    for i, name in enumerate(member): # 번호를 같이 뽑아줘야 딕셔너리에 들어감... 리스트로 넣을 경우 이름 수정이 힘들다. 
        who = name.text
        who = who.replace('\n', "")
        if class_id == 'PURPLE':
            who = who[5:].strip()
        
        member_list[i] = who
        
    member_list = pd.Series(member_list).str.extract(r'([가-힣].*)') # -> 시리즈에 str을 적용하면 데이터프레임이 된다. 
    member_dict[class_id] = member_list[0] # -> 다시 시리즈를 넣어줌... 

member11 = pd.DataFrame(member_dict)
member12 = pd.DataFrame(member_count, columns=['반명', '학생수'])

with pd.ExcelWriter(f'{week}주차_member.xlsx') as writer:  
    member11.to_excel(writer, sheet_name=f'{week}주차_학생명단', index=False)
    member12.to_excel(writer, sheet_name=f'{week}주차_학생수', index=False)
    
#

In [109]:
# 정규표현식을 통해 미리 앞에서 처리 
# 이게 더 깔끔? 

week = 1
p = re.compile('([가-힣].*)')

member_count = []
member_dict = {}

for class_id in list(class_dic.keys()):
    
    url = class_dic[class_id]+'/member'
    driver.get(url)
    time.sleep(1.5)
    
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    num = int(soup.select('div.uHeaderWrap > header > h1 > em')[0].text)-2
    member_count.append([class_id, num])
    
    member = soup.select('.ellipsis')[2:] # 위에 두줄은 admin, 이철 
    member_list = [] # 여기 바꿈 
    
    for i, name in enumerate(member): # 번호를 같이 뽑아줘야 딕셔너리에 들어감... 리스트로 넣을 경우 이름 수정이 힘들다. 
        who = name.text
        who = who.replace('\n', "")
        if class_id == 'PURPLE':
            who = who[5:].strip()
        who = p.findall(who)[0] #  리스트형태로 반환하기 때문에 첫번째 요소만 뽑아내기 (str) # 한글요소는 인덱싱 전에 해주기 ! 
 
        member_list.append(who)
    
    
    member_dict[class_id] = pd.Series(sorted(member_list))
    # 시리즈로 만들어서 넣어주면 길이가 안맞아도 로테이션 하지 않아도 된다. 
    # 그냥 리스트를 넣어주는 경우 길이가 안맞으면 불가.. 
    # 시리즈로 만들어주기 전에 미리 솔팅을 해줘야 한다... 

member11 = pd.DataFrame(member_dict)
member12 = pd.DataFrame(member_count, columns=['반명', '학생수'])

with pd.ExcelWriter(f'{week}주차_member.xlsx') as writer:  
    member11.to_excel(writer, sheet_name=f'{week}주차_학생명단', index=False)
    member12.to_excel(writer, sheet_name=f'{week}주차_학생수', index=False)
    
#

In [30]:
pd.DataFrame.from_dict(member_dict, orient='index').T

     PA3A PB3A
0     강혜린  권여진
1     구준회  김영현
2     권영진  김주희
3     권지훈  김주희
4     김성준  김지호
5   김영현28  김해일
6     김채원  김희윤
7     나소현  남정우
8     노건우  마은서
9     노재선  민소예
10    문하진  박병준
11    박민아  박재훈
12    박상은  박지영
13    박성현  박채린
14    백영건  석정현
15    송시원  설나영
16    송원진  송지원
17    안경수  안현준
18    안민수  안효수
19    안정현  양희수
20    유승민  오도은
21    윤준혁  윤찬미
22    이경민  이은혜
23    이규희  이장훈
24    이다은  이하늘
25    이동현  장수현
26    이수진  전상훈
27    이예은  정승현
28    이준헌  정채원
29    이형준  최준혁
30    이혜빈  최진성
31    임선우  한동호
32    임채린   홍샘
33    장지원  홍승우
34    전승범  NaN
35    정윤혜  NaN
36    정진형  NaN
37     채민  NaN
38    최진웅  NaN
39    추예진  NaN
40    한민족  NaN
41    홍선주  NaN
42    홍혜원  NaN
43    김예림  NaN
44    신태웅  NaN

In [38]:
member_dict["PA3A"].to_frame() # 아래 코드에서 쓰인 것...

        0
0     강혜린
1     구준회
2     권영진
3     권지훈
4     김성준
5   김영현28
6     김채원
7     나소현
8     노건우
9     노재선
10    문하진
11    박민아
12    박상은
13    박성현
14    백영건
15    송시원
16    송원진
17    안경수
18    안민수
19    안정현
20    유승민
21    윤준혁
22    이경민
23    이규희
24    이다은
25    이동현
26    이수진
27    이예은
28    이준헌
29    이형준
30    이혜빈
31    임선우
32    임채린
33    장지원
34    전승범
35    정윤혜
36    정진형
37     채민
38    최진웅
39    추예진
40    한민족
41    홍선주
42    홍혜원
43    김예림
44    신태웅

In [47]:
member11 = pd.DataFrame(member_dict)
member11.PA3A.to_frame()

     PA3A
0     강혜린
1     구준회
2     권영진
3     권지훈
4     김성준
5   김영현28
6     김채원
7     나소현
8     노건우
9     노재선
10    문하진
11    박민아
12    박상은
13    박성현
14    백영건
15    송시원
16    송원진
17    안경수
18    안민수
19    안정현
20    유승민
21    윤준혁
22    이경민
23    이규희
24    이다은
25    이동현
26    이수진
27    이예은
28    이준헌
29    이형준
30    이혜빈
31    임선우
32    임채린
33    장지원
34    전승범
35    정윤혜
36    정진형
37     채민
38    최진웅
39    추예진
40    한민족
41    홍선주
42    홍혜원
43    김예림
44    신태웅

In [20]:
import re
who = 'WRED 송이정'
p = re.compile('([가-힣].*)')
a = p.findall(who)[0]
a

'송이정'

In [108]:
sorted(member_list)

['김도현',
 '김민정',
 '김예진',
 '김지희',
 '김현진',
 '김혜빈',
 '박수현',
 '서유빈',
 '서지원',
 '손여빈',
 '송예윤',
 '송이정',
 '오주연',
 '오지현',
 '유지연',
 '이규연',
 '이리사',
 '이솔지',
 '이승연',
 '이윤지',
 '이은서',
 '정수진',
 '정재연',
 '조민정',
 '최고은',
 '최수빈',
 '최지원',
 '한룻',
 '홍래영']

In [110]:
dictt ={}
for i, name in enumerate(member):
    dictt[i] = name

In [111]:
dictt

{0: <span class="ellipsis">RED(D)이리사</span>,
 1: <span class="ellipsis">WRED (D) 오지현</span>,
 2: <span class="ellipsis">WRED 김도현</span>,
 3: <span class="ellipsis">WRED 김민정</span>,
 4: <span class="ellipsis">WRED 김예진</span>,
 5: <span class="ellipsis">WRED 김지희</span>,
 6: <span class="ellipsis">WRED 박수현</span>,
 7: <span class="ellipsis">WRED 서유빈</span>,
 8: <span class="ellipsis">WRED 서지원</span>,
 9: <span class="ellipsis">WRED 손여빈</span>,
 10: <span class="ellipsis">WRED 송예윤</span>,
 11: <span class="ellipsis">WRED 송이정</span>,
 12: <span class="ellipsis">WRED 이규연</span>,
 13: <span class="ellipsis">WRED 이솔지</span>,
 14: <span class="ellipsis">WRED 이승연</span>,
 15: <span class="ellipsis">WRED 이윤지</span>,
 16: <span class="ellipsis">WRED 이은서</span>,
 17: <span class="ellipsis">WRED 정수진</span>,
 18: <span class="ellipsis">WRED 정재연</span>,
 19: <span class="ellipsis">WRED 조민정</span>,
 20: <span class="ellipsis">WRED 최고은</span>,
 21: <span class="ellipsis">WRED 최수빈</span>,
 22: <span class="ellipsis">WRED 최지원</span>,
 23: <span class="ellipsis">WRED 홍래영</span>,
 24: <span class="ellipsis">WRED(D) 김현진</span>,
 25: <span class="ellipsis">WRED김혜빈</span>,
 26: <span class="ellipsis">WRED오주연</span>,
 27: <span class="ellipsis">유지연</span>,
 28: <span class="ellipsis">한룻</span>}

## 댓글 긁어오기 함수

In [145]:
def comment(p, v):
    
    
    pdss = [f'pds{i}회차' for i in range(1, p+1)]
    vocas = [f'단어시험0{i}회' for i in range(1, v+1)]
    
    for class_id in list(class_dic.keys()):
        
        df = {}
        
        
        for pds in pdss:
            
            url = class_dic[class_id] + f'/hashtag/{pds}'
            driver.get(url)
            time.sleep(1)

            try: 
                driver.find_element_by_class_name('commentToggle._commentToggleBtn').click()
                time.sleep(0.5)
        

                for _ in range(3):
                    try:
                        driver.find_element_by_class_name('prevComment').click()
                        time.sleep(0.2)
                    except :
                        pass

                html = driver.page_source
                soup = BeautifulSoup(html, 'html.parser')
                students = soup.select('.itemWrap')

                student_data = {}

                for student in students :

                    if class_id == 'PURPLE':    # 퍼플은 반명을 한글로 적는 바람에 따로 해줘야 함 
                        name = student.select('button > strong')[0].text
                        name = name[5:].strip() # 전부 다 이거로 하게 되면 띄어쓰기 없는 애들은 솔팅 안됨 
                    else :
                        name = student.select('button > strong')[0].text

                    score = "O"

                    student_data[name] = score 

                df[pds] = student_data

    #             print(len(student_data))
            
            except:
                pass
        
        
        for voca in vocas:
            
            url = class_dic[class_id] + f'/hashtag/{voca}'
            driver.get(url)
            time.sleep(1)

            try: 
                driver.find_element_by_class_name('commentToggle._commentToggleBtn').click()
                time.sleep(0.5)
        

                for _ in range(3):
                    try:
                        driver.find_element_by_class_name('prevComment').click()
                        time.sleep(0.2)
                    except :
                        pass

                html = driver.page_source
                soup = BeautifulSoup(html, 'html.parser')
                students = soup.select('.itemWrap')

                student_data = {}

                for student in students :

                    if class_id == 'PURPLE':    # 퍼플은 반명을 한글로 적는 바람에 따로 해줘야 함 
                        name = student.select('button > strong')[0].text
                        name = name[5:].strip() # 전부 다 이거로 하게 되면 띄어쓰기 없는 애들은 솔팅 안됨 
                    else :
                        name = student.select('button > strong')[0].text
                    try: 
                        score = int(student.select('p')[0].text)
                    except :
                        score = ""
                        
                    student_data[name] = score 

                df[voca] = student_data
            
            except:
                pass

        member_dict[class_id].name = 'name' # 프레임으로 변경시 컬럼 이름이 됨 
        df_name = member_dict[class_id].to_frame() # 시리즈 형태로 저장된 딕셔너리 밸류를 프레임으로 변환 
        
        
        total = pd.DataFrame(df).reset_index()
        total['index'] = total['index'].str.extract(r'([가-힣].*)') # 한글로 시작하는 시점부터 뒤까지 전부 불러와라 
        total = total.rename(columns={'index':"name"})
        
        total = pd.merge(df_name, total, on='name', how='outer')
        
        total = total.fillna("X")
##         total['life'] = total.isin(["X"]).sum(axis=1)
##         total['life'] = total['life'].apply(lambda x : (7-x) * "🧡")
##         total = total.sort_values(by=['name'])
        total.to_excel(f'{class_id}_{week}주차.xlsx', index=False)
#     return total, df_name
#         with pd.ExcelWriter(f'{week}주차_comment11.xlsx', engine="openpyxl", mode='a') as writer:  
#             total.to_excel(writer, sheet_name=f'{class_id}', index=False)

In [146]:
class_dic = {}
class_dic['PA3A'] = 'https://band.us/band/85178180'
class_dic['PB3A'] = 'https://band.us/band/85178672'
# class_dic['PD3A'] = 'https://band.us/band/85186142'
# class_dic['PJ3A'] = 'https://band.us/band/85186150'
# class_dic['PURPLE'] = 'https://band.us/band/85186110'
# class_dic['RED'] = 'https://band.us/band/85186132'
## class_dic['PB7A'] = 'https://band.us/band/84600978'
## class_dic['PD7A'] = 'https://band.us/band/84601004'

In [147]:
# 돌리기 
week = 1
comment(1, 1) # 리턴값을 받아오려면 변수를 설정해야 함...

In [ ]:
p=5
pds = [f'PDS{i}회차' for i in range(1, p+1)]
pds

In [70]:
# merge와 concat의 차이점... 
pd.concat([df_name, total], axis=1) # 인덱스를 기준으로 붙여버린다. merge 사용이 올바름

   name name pds1회차 단어시험01회
0   권여진  송지원      O      49
1   김영현  김영현      O      49
2   김주희  남정우      O      46
3   김주희  김희윤      O      49
4   김지호  이장훈      O      48
5   김해일  김주희      O
6   김희윤  설나영      O      45
7   남정우  권여진      O      48
8   마은서  박채린      O      44
9   민소예  민소예      O      50
10  박병준  오도은      O      49
11  박재훈  최진성      O     NaN
12  박지영  최준혁      O      45
13  박채린  장수현      O      45
14  석정현  석정현      O      46
15  설나영  정채원      O      46
16  송지원  전상훈      O     NaN
17  안현준  김지호      O     NaN
18  안효수  김해일      O      47
19  양희수  안효수      O      50
20  오도은  이하늘      O      49
21  윤찬미  박지영      O      47
22  이은혜  안현준      O      49
23  이장훈  이은혜      O      48
24  이하늘  박병준      O     NaN
25  장수현  박재훈      O     NaN
26  전상훈  양희수      O     NaN
27  정승현  홍승우      O     NaN
28  정채원  마은서    NaN      45
29  최준혁  NaN    NaN     NaN
30  최진성  NaN    NaN     NaN
31  한동호  NaN    NaN     NaN
32   홍샘  NaN    NaN     NaN
33  홍승우  NaN    NaN     NaN

In [124]:
# 아랫부분... 
        total = total.fillna("X")
##         total['life'] = total.isin(["X"]).sum(axis=1)
##         total['life'] = total['life'].apply(lambda x : (7-x) * "🧡")
##         total = total.sort_values(by=['name'])
        total.to_excel(f'{class_id}_{week}주차.xlsx', index=False)
#     return total, df_name

     PA3A   name pds1회차  단어시험01회
0     강혜린    강혜린      O     50.0
1     구준회    구준회      O      NaN
2     권영진    권영진      O     49.0
3     권지훈    권지훈    NaN     50.0
4     김성준    김성준      O      NaN
5   김영현28  김영현28      O      NaN
6     김예림    김예림      O     47.0
7     김채원    김채원      O     46.0
8     나소현    나소현      O     50.0
9     노건우    노건우      O     45.0
10    노재선    노재선      O      NaN
11    문하진    문하진      O     50.0
12    박민아    박민아      O     46.0
13    박상은    박상은      O      NaN
14    박성현    박성현      O     48.0
15    백영건    백영건    NaN     33.0
16    송시원    NaN    NaN      NaN
17    송원진    송원진      O     40.0
18    신태웅    신태웅      O     45.0
19    안경수    안경수      O     48.0
20    안민수    안민수      O     50.0
21    안정현    안정현      O     35.0
22    유승민    유승민      O     49.0
23    윤준혁    윤준혁      O     50.0
24    이경민    이경민      O     50.0
25    이규희    이규희      O     47.0
26    이다은    이다은      O     49.0
27    이동현    이동현      O     50.0
28    이수진    이수진      O     49.0
29    이예은    이예은      O     50.0
30    이준헌    이준헌      O     48.0
31    이형준    이형준      O     48.0
32    이혜빈    이혜빈      O     50.0
33    임선우    임선우      O     50.0
34    임채린    임채린      O     50.0
35    장지원    장지원      O     45.0
36    전승범    전승범      O     47.0
37    정윤혜    정윤혜      O     47.0
38    정진형    정진형      O     48.0
39     채민     채민      O     47.0
40    최진웅    최진웅      O     47.0
41    추예진    추예진      O     50.0
42    한민족    한민족      O      NaN
43    홍선주    NaN    NaN      NaN
44    홍혜원    홍혜원      O     49.0
45    NaN    NaN    NaN      NaN
46    NaN    NaN    NaN      NaN
47    NaN    NaN    NaN      NaN
48    NaN    NaN    NaN      NaN

## 복습테스트 함수

In [ ]:
def re_test(tag):
    
    for class_id in list(class_dic.keys()):
        url = class_dic[class_id] + f'/hashtag/{tag}'
        driver.get(url)


        # 밴드 이름 가져오기 
        band_name = driver.find_element_by_class_name('uriText').text


        # 퀴즈박스 클릭
        driver.find_element_by_class_name('item.-quiz').click() 


        # 퀴즈명 가져오기 
        quiz_name = driver.find_element_by_xpath('//*[@id="wrap"]/div[3]/div/div/section/div[2]/div/section/div/div[3]/div[3]/div[4]/div/div/p[2]')
        quiz_name = quiz_name.text.replace("~", "_")


        scroll = WebDriverWait(driver, 15).until(EC.presence_of_element_located((By.XPATH, '//*[@id="wrap"]/div[3]/div/div/section')))
        driver.execute_script("arguments[0].scrollBy(0,arguments[0].scrollHeight)", scroll) # t스크롤

        driver.find_element_by_class_name('button._btnOpenTakerList').click() # 응답자 보기 클릭
        driver.find_element_by_class_name('btnMoreMenu._btnHeaderMoreMenu').click() # 점 3개 클릭
        driver.find_element_by_class_name('btnMenuText._btnDownloadGradingResult').click() # 채점결과 다운로드 

        time.sleep(2)


        # 저장된 파일 불러오기 
        add = f'C:/Users/hmkang/Downloads/{band_name}_채점결과_{quiz_name}_' + r'{}_{}.xlsx'
        filename = glob.glob(add.format("*", "*"))[0]
        rere = pd.read_excel(filename, header=3)

        # 멤버 및 점수만 뽑아내기 
        rere['멤버'] = rere['멤버'].str.extract(r'([가-힣].*)')
        rere = rere.dropna()
        rere = rere[['멤버', '점수']]
        return rere

In [ ]:
tag = '온택트복습TEST'
re_test(tag)

In [82]:
member11

     PA3A   PB3A   PD3A   PJ3A PURPLE    RED
0     NaN    NaN    NaN    NaN    NaN    NaN
1   독해 이철  독해 이철  독해 이철  독해 이철    NaN  독해 이철
2     강혜린    권여진    김가현    김지훈    이송하    이리사
3     구준회    김영현    김건영    최서영    강민지    오지현
4     권영진    김주희    김나연    김서연    국민희    김도현
5     권지훈    김주희    김민선    김서윤    김다영    김민정
6     김성준    김지호    김민지    김준석     김률    김예진
7   김영현28    김해일    김성은    김준형    김리경    김지희
8     김채원    김희윤    김소운    김지원    김미라    박수현
9     나소현    남정우    박세훈    김지은  김민지39    서유빈
10    노건우    마은서    박윤원    김희진  김민지83    서지원
11    노재선    민소예    박지현    박동근    김소정    손여빈
12    문하진    박병준    박찬우    박동제    김수미    송예윤
13    박민아    박재훈    배강식    박종석    김수민    송이정
14    박상은    박지영    양진영    심정연    김수빈    이규연
15    박성현    박채린    윤건희    심지수    김이든    이솔지
16    백영건    석정현    윤정빈    이가경    김주원    이승연
17    송시원    설나영    윤태민    이서윤    김태연    이윤지
18    송원진    송지원    윤혜진    이성근    김현서    이은서
19    안경수    안현준    이영서    이윤지    김혜리    정수진
20    안민수    안효수    이재영    이지선    김혜원    정재연
21    안정현    양희수    이재은    장혜원    나현서    조민정
22    유승민    오도은    이지현    장희수    도윤주    최고은
23    윤준혁    윤찬미    정태영    채영진    박명선    최수빈
24    이경민    이은혜    최다현    최계영    박세미    최지원
25    이규희    이장훈    최은결    최유빈    박수아    홍래영
26    이다은    이하늘    최형욱    최효리    성지현    김현진
27    이동현    장수현    유주다    한지원    손가현    김혜빈
28    이수진    전상훈    NaN    허연우    손예리    오주연
29    이예은    정승현    NaN    NaN    송나영    유지연
30    이준헌    정채원    NaN    NaN    송지현     한룻
31    이형준    최준혁    NaN    NaN    신채영    NaN
32    이혜빈    최진성    NaN    NaN    신현주    NaN
33    임선우    한동호    NaN    NaN    심성은    NaN
34    임채린     홍샘    NaN    NaN    양지혜    NaN
35    장지원    홍승우    NaN    NaN    오유빈    NaN
36    전승범    NaN    NaN    NaN    이가빈    NaN
37    정윤혜    NaN    NaN    NaN    이예진    NaN
38    정진형    NaN    NaN    NaN    이유나    NaN
39     채민    NaN    NaN    NaN    이지연    NaN
40    최진웅    NaN    NaN    NaN    이채영    NaN
41    추예진    NaN    NaN    NaN    장유진    NaN
42    한민족    NaN    NaN    NaN    장윤서    NaN
43    홍선주    NaN    NaN    NaN    전주현    NaN
44    홍혜원    NaN    NaN    NaN    정다은    NaN
45    김예림    NaN    NaN    NaN    정재윤    NaN
46    신태웅    NaN    NaN    NaN    진수정    NaN
47    NaN    NaN    NaN    NaN    진휘현    NaN
48    NaN    NaN    NaN    NaN    최다형    NaN
49    NaN    NaN    NaN    NaN    최소현    NaN
50    NaN    NaN    NaN    NaN    황서영    NaN

In [84]:
member_dict[]

{'PA3A': 0       NaN
 1     독해 이철
 2       강혜린
 3       구준회
 4       권영진
 5       권지훈
 6       김성준
 7     김영현28
 8       김채원
 9       나소현
 10      노건우
 11      노재선
 12      문하진
 13      박민아
 14      박상은
 15      박성현
 16      백영건
 17      송시원
 18      송원진
 19      안경수
 20      안민수
 21      안정현
 22      유승민
 23      윤준혁
 24      이경민
 25      이규희
 26      이다은
 27      이동현
 28      이수진
 29      이예은
 30      이준헌
 31      이형준
 32      이혜빈
 33      임선우
 34      임채린
 35      장지원
 36      전승범
 37      정윤혜
 38      정진형
 39       채민
 40      최진웅
 41      추예진
 42      한민족
 43      홍선주
 44      홍혜원
 45      김예림
 46      신태웅
 Name: name, dtype: object,
 'PB3A': 0       NaN
 1     독해 이철
 2       권여진
 3       김영현
 4       김주희
 5       김주희
 6       김지호
 7       김해일
 8       김희윤
 9       남정우
 10      마은서
 11      민소예
 12      박병준
 13      박재훈
 14      박지영
 15      박채린
 16      석정현
 17      설나영
 18      송지원
 19      안현준
 20      안효수
 21      양희수
 22      오도은
 23      윤찬미
 24      이은혜
 25      이장훈
 26      이하늘
 27      장수현
 28      전상훈
 29      정승현
 30      정채원
 31      최준혁
 32      최진성
 33      한동호
 34       홍샘
 35      홍승우
 Name: 0, dtype: object,
 'PD3A': 0       NaN
 1     독해 이철
 2       김가현
 3       김건영
 4       김나연
 5       김민선
 6       김민지
 7       김성은
 8       김소운
 9       박세훈
 10      박윤원
 11      박지현
 12      박찬우
 13      배강식
 14      양진영
 15      윤건희
 16      윤정빈
 17      윤태민
 18      윤혜진
 19      이영서
 20      이재영
 21      이재은
 22      이지현
 23      정태영
 24      최다현
 25      최은결
 26      최형욱
 27      유주다
 Name: 0, dtype: object,
 'PJ3A': 0       NaN
 1     독해 이철
 2       김지훈
 3       최서영
 4       김서연
 5       김서윤
 6       김준석
 7       김준형
 8       김지원
 9       김지은
 10      김희진
 11      박동근
 12      박동제
 13      박종석
 14      심정연
 15      심지수
 16      이가경
 17      이서윤
 18      이성근
 19      이윤지
 20      이지선
 21      장혜원
 22      장희수
 23      채영진
 24      최계영
 25      최유빈
 26      최효리
 27      한지원
 28      허연우
 Name: 0, dtype: object,
 'PURPLE': 0       NaN
 1       NaN
 2       이송하
 3       강민지
 4       국민희
 5       김다영
 6        김률
 7       김리경
 8       김미라
 9     김민지39
 10    김민지83
 11      김소정
 12      김수미
 13      김수민
 14      김수빈
 15      김이든
 16      김주원
 17      김태연
 18      김현서
 19      김혜리
 20      김혜원
 21      나현서
 22      도윤주
 23      박명선
 24      박세미
 25      박수아
 26      성지현
 27      손가현
 28      손예리
 29      송나영
 30      송지현
 31      신채영
 32      신현주
 33      심성은
 34      양지혜
 35      오유빈
 36      이가빈
 37      이예진
 38      이유나
 39      이지연
 40      이채영
 41      장유진
 42      장윤서
 43      전주현
 44      정다은
 45      정재윤
 46      진수정
 47      진휘현
 48      최다형
 49      최소현
 50      황서영
 Name: 0, dtype: object,
 'RED': 0       NaN
 1     독해 이철
 2       이리사
 3       오지현
 4       김도현
 5       김민정
 6       김예진
 7       김지희
 8       박수현
 9       서유빈
 10      서지원
 11      손여빈
 12      송예윤
 13      송이정
 14      이규연
 15      이솔지
 16      이승연
 17      이윤지
 18      이은서
 19      정수진
 20      정재연
 21      조민정
 22      최고은
 23      최수빈
 24      최지원
 25      홍래영
 26      김현진
 27      김혜빈
 28      오주연
 29      유지연
 30       한룻
 Name: 0, dtype: object}

In [34]:
pd.DataFrame.from_dict(member_dic, orient='index').T # 길이맞추라고 할때 해결볍

          PA3A      PB3A      PD3A       PJ3A      PURPLE           RED
0        admin     admin     admin      admin                     admin
1        독해 이철     독해 이철     독해 이철      독해 이철                     독해 이철
2     PA3A 강혜린  PB3A 권여진  PD3A 김가현  PJ3A  김지훈  PLE(B) 이송하     RED(D)이리사
3     PA3A 구준회  PB3A 김영현  PD3A 김건영  PJ3A  최서영         강민지  WRED (D) 오지현
4     PA3A 권영진  PB3A 김주희  PD3A 김나연   PJ3A 김서연         국민희      WRED 김도현
5     PA3A 권지훈  PB3A 김주희  PD3A 김민선   PJ3A 김서윤         김다영      WRED 김민정
6     PA3A 김성준  PB3A 김지호  PD3A 김민지   PJ3A 김준석          김률      WRED 김예진
7   PA3A 김영현28  PB3A 김해일  PD3A 김성은   PJ3A 김준형         김리경      WRED 김지희
8     PA3A 김채원  PB3A 김희윤  PD3A 김소운   PJ3A 김지원         김미라      WRED 박수현
9     PA3A 나소현  PB3A 남정우  PD3A 박세훈   PJ3A 김지은       김민지39      WRED 서유빈
10    PA3A 노건우  PB3A 마은서  PD3A 박윤원   PJ3A 김희진       김민지83      WRED 서지원
11    PA3A 노재선  PB3A 민소예  PD3A 박지현   PJ3A 박동근         김소정      WRED 손여빈
12    PA3A 문하진  PB3A 박병준  PD3A 박찬우   PJ3A 박동제         김수미      WRED 송예윤
13    PA3A 박민아  PB3A 박재훈  PD3A 배강식   PJ3A 박종석         김수민      WRED 송이정
14    PA3A 박상은  PB3A 박지영  PD3A 양진영   PJ3A 심정연         김수빈      WRED 이규연
15    PA3A 박성현  PB3A 박채린  PD3A 윤건희   PJ3A 심지수         김이든      WRED 이솔지
16    PA3A 백영건  PB3A 석정현  PD3A 윤정빈   PJ3A 이가경         김주원      WRED 이승연
17    PA3A 송시원  PB3A 설나영  PD3A 윤태민   PJ3A 이서윤         김태연      WRED 이윤지
18    PA3A 송원진  PB3A 송지원  PD3A 윤혜진   PJ3A 이성근         김현서      WRED 이은서
19    PA3A 안경수  PB3A 안현준  PD3A 이영서   PJ3A 이윤지         김혜리      WRED 정수진
20    PA3A 안민수  PB3A 안효수  PD3A 이재영   PJ3A 이지선         김혜원      WRED 정재연
21    PA3A 안정현  PB3A 양희수  PD3A 이재은   PJ3A 장혜원         나현서      WRED 조민정
22    PA3A 유승민  PB3A 오도은  PD3A 이지현   PJ3A 장희수         도윤주      WRED 최고은
23    PA3A 윤준혁  PB3A 윤찬미  PD3A 정태영   PJ3A 채영진         박명선      WRED 최수빈
24    PA3A 이경민  PB3A 이은혜  PD3A 최다현   PJ3A 최계영         박세미      WRED 최지원
25    PA3A 이규희  PB3A 이장훈  PD3A 최은결   PJ3A 최유빈         박수아      WRED 홍래영
26    PA3A 이다은  PB3A 이하늘  PD3A 최형욱   PJ3A 최효리         성지현   WRED(D) 김현진
27    PA3A 이동현  PB3A 장수현       유주다   PJ3A 한지원         손가현       WRED김혜빈
28    PA3A 이수진  PB3A 전상훈      None   PJ3A 허연우         손예리       WRED오주연
29    PA3A 이예은  PB3A 정승현      None       None         송나영           유지연
30    PA3A 이준헌  PB3A 정채원      None       None         송지현            한룻
31    PA3A 이형준  PB3A 최준혁      None       None         신채영          None
32    PA3A 이혜빈  PB3A 최진성      None       None         신현주          None
33    PA3A 임선우  PB3A 한동호      None       None         심성은          None
34    PA3A 임채린   PB3A 홍샘      None       None         양지혜          None
35    PA3A 장지원  PB3A 홍승우      None       None         오유빈          None
36    PA3A 전승범      None      None       None         이가빈          None
37    PA3A 정윤혜      None      None       None         이예진          None
38    PA3A 정진형      None      None       None         이유나          None
39     PA3A 채민      None      None       None         이지연          None
40    PA3A 최진웅      None      None       None         이채영          None
41    PA3A 추예진      None      None       None         장유진          None
42    PA3A 한민족      None      None       None         장윤서          None
43    PA3A 홍선주      None      None       None         전주현          None
44    PA3A 홍혜원      None      None       None         정다은          None
45     PA3A김예림      None      None       None         정재윤          None
46    PB3A 신태웅      None      None       None         진수정          None
47        None      None      None       None         진휘현          None
48        None      None      None       None         최다형          None
49        None      None      None       None         최소현          None
50        None      None      None       None         황서영          None

# excel  불러와서 한 시트에 합치기

각각 저장된 파일을 불러와서 merge한 다음 새로운 ❤ 부여

첫주차 버젼

In [75]:
week = 1
week_dict = {}
week_merge = {}
for class_id in list(class_dic.keys()):
    week_dict[class_id] = pd.read_excel(f'{class_id}_{week}주차.xlsx')
    
for class_id in list(class_dic.keys()):
    df = week_dict[class_id]
    df['life'] = df.isin(["X"]).sum(axis=1)
    df['life'] = df['life'].apply(lambda x : (7-x) * "🧡")
    df = df.sort_values(by=['name'])
    week_merge[class_id] = df
    
with pd.ExcelWriter(f'{week}주차_comment2.xlsx') as writer:  
    for class_id in week_dict.keys():
        week_dict[class_id].to_excel(writer, sheet_name=f'{class_id}', index=False)

그 다음 주차 부터..

In [ ]:
week_pre_n = 1
week_now_n = 2

In [ ]:
week_pre = {}
week_now = {}
week_merge = {}
for class_id in list(class_dic.keys()):
    week_pre[class_id] = pd.read_excel(f'./{week_pre_n}주차/{class_id}_{week_pre_n}주차.xlsx')
    week_now[class_id] = pd.read_excel(f'{class_id}_{week_now_n}주차.xlsx')

for class_id in list(class_dic.keys()):
    df = pd.merge(week_pre[class_id], week_now[class_id], on='name', how='outer')
    df['life'] = df.isin(["X"]).sum(axis=1)
    df['life'] = df['life'].apply(lambda x : (7-x) * "🧡")
    df = df.sort_values(by=['name'])
    week_merge[class_id] = df

with pd.ExcelWriter(f'{week_now_n}주차_comment.xlsx') as writer:  
    for class_id in week_merge.keys():
        week_merge[class_id].to_excel(writer, sheet_name=f'{class_id}', index=False)

In [ ]:
df = pd.read_excel('1주차_comment.xlsx', sheet_name = 'RED')

In [ ]:
pd.merge(week_1['PA3A'], week_1['PB3A'], on='name', how='outer') 
# 데이터프레임 자체를 딕셔너리 형태로 저장해서 그것을 꺼내서 사용 가능하다....

In [72]:
week_1['PA3A'].name

NameError: name 'week_1' is not defined

In [137]:

df = pd.read_excel('1주차_comment.xlsx', sheet_name=None)

{'PA3A':      name pds1회차 pds2회차 pds3회차 pds4회차 pds5회차 단어시험01회 단어시험02회     life
 0     강혜린      O      O      O      O      O      50      50  🧡🧡🧡🧡🧡🧡🧡
 1     구준회      O      O      O      O      O       X       X    🧡🧡🧡🧡🧡
 2     권영진      O      O      O      O      O      49      49  🧡🧡🧡🧡🧡🧡🧡
 3     권지훈      X      X      X      X      X      50      50       🧡🧡
 4     김성준      O      O      O      O      O       X       X    🧡🧡🧡🧡🧡
 5   김영현28      O      O      O      O      O       X       X    🧡🧡🧡🧡🧡
 6     김예림      O      O      O      O      O      47      48  🧡🧡🧡🧡🧡🧡🧡
 7     김채원      O      O      O      O      O      46      45  🧡🧡🧡🧡🧡🧡🧡
 8     나소현      O      O      O      O      X      50      48   🧡🧡🧡🧡🧡🧡
 9     노건우      O      O      O      O      O      45      46  🧡🧡🧡🧡🧡🧡🧡
 10    노재선      O      O      O      O      O       X       X    🧡🧡🧡🧡🧡
 11    문하진      O      O      O      O      O      50      47  🧡🧡🧡🧡🧡🧡🧡
 12    박민아      O      O      O      O      O      46      44  🧡🧡🧡🧡🧡🧡🧡
 13    박상은      O      O      X      X      X       X       X       🧡🧡
 14    박성현      O      O      O      O      O      48      48  🧡🧡🧡🧡🧡🧡🧡
 15    백영건      X      O      O      O      O      33      34   🧡🧡🧡🧡🧡🧡
 16    송시원      X      X      X      X      X       X       X      NaN
 17    송원진      O      O      O      O      O      40      40  🧡🧡🧡🧡🧡🧡🧡
 18    신태웅      O      O      O      O      O      45      45  🧡🧡🧡🧡🧡🧡🧡
 19    안경수      O      O      O      O      O      48      49  🧡🧡🧡🧡🧡🧡🧡
 20    안민수      O      O      O      X      X      50      48    🧡🧡🧡🧡🧡
 21    안정현      O      O      O      X      X      35      32    🧡🧡🧡🧡🧡
 22    유승민      O      O      O      O      O      49      48  🧡🧡🧡🧡🧡🧡🧡
 23    윤준혁      O      O      X      X      X      50      50     🧡🧡🧡🧡
 24    이경민      O      O      O      O      O      50      49  🧡🧡🧡🧡🧡🧡🧡
 25    이규희      O      O      O      O      O      47      47  🧡🧡🧡🧡🧡🧡🧡
 26    이다은      O      O      O      O      O      49      48  🧡🧡🧡🧡🧡🧡🧡
 27    이동현      O      O      O      O      O      50      50  🧡🧡🧡🧡🧡🧡🧡
 28    이수진      O      O      O      O      O      49      49  🧡🧡🧡🧡🧡🧡🧡
 29    이예은      O      O      O      O      O      50      50  🧡🧡🧡🧡🧡🧡🧡
 30    이준헌      O      O      O      O      O      48      45  🧡🧡🧡🧡🧡🧡🧡
 31    이형준      O      O      O      O      O      48      49  🧡🧡🧡🧡🧡🧡🧡
 32    이혜빈      O      O      O      X      X      50      50    🧡🧡🧡🧡🧡
 33    임선우      O      O      O      O      O      50      50  🧡🧡🧡🧡🧡🧡🧡
 34    임채린      O      O      O      O      O      50      49  🧡🧡🧡🧡🧡🧡🧡
 35    장지원      O      O      O      O      O      45      43  🧡🧡🧡🧡🧡🧡🧡
 36    전승범      O      O      O      O      O      47      50  🧡🧡🧡🧡🧡🧡🧡
 37    정윤혜      O      O      X      X      X      47      46     🧡🧡🧡🧡
 38    정진형      O      O      O      O      O      48      49  🧡🧡🧡🧡🧡🧡🧡
 39     채민      O      O      O      O      O      47      45  🧡🧡🧡🧡🧡🧡🧡
 40    최진웅      O      O      O      O      O      47      45  🧡🧡🧡🧡🧡🧡🧡
 41    추예진      O      O      O      O      O      50      48  🧡🧡🧡🧡🧡🧡🧡
 42    한민족      O      O      O      O      O       X       X    🧡🧡🧡🧡🧡
 43    홍선주      X      X      X      X      X       X       X      NaN
 44    홍혜원      O      O      O      O      O      49      47  🧡🧡🧡🧡🧡🧡🧡,
 'PB3A':    name pds1회차 pds2회차 pds3회차 pds4회차 pds5회차 단어시험01회 단어시험02회     life
 0   권여진      O      O      O      O      O      48      49  🧡🧡🧡🧡🧡🧡🧡
 1   김영현      O      O      O      O      O      49      49  🧡🧡🧡🧡🧡🧡🧡
 2   김주희      O      O      O      O      O     NaN     NaN  🧡🧡🧡🧡🧡🧡🧡
 3   김주희      O      O      O      O      O     NaN     NaN  🧡🧡🧡🧡🧡🧡🧡
 4   김지호      O      O      O      O      O       X       X    🧡🧡🧡🧡🧡
 5   김해일      O      O      O      O      O      47      46  🧡🧡🧡🧡🧡🧡🧡
 6   김희윤      O      O      O      O      O      49      48  🧡🧡🧡🧡🧡🧡🧡
 7   남정우      O      O      O      O      O      46      45  🧡🧡🧡🧡🧡🧡🧡
 8   마은서      X      X      O      O      X      45      47     🧡🧡🧡🧡
 9   민소예      O      O      O      O      O      50      50  🧡🧡🧡🧡🧡🧡🧡
 10  박병준      O      X      O      O      O       X      47    🧡🧡🧡🧡🧡
 11  박재훈      O      O      O      X      X       X       X      🧡🧡🧡
 12  박지영      O      O      O      O      O      47      47  🧡🧡🧡🧡🧡🧡🧡
 13  박채린      O      O      O      O      O      44      44  🧡🧡🧡🧡🧡🧡🧡
 14  석정현      O      O      O      O      X      46      46   🧡🧡🧡🧡🧡🧡
 15  설나영      O      O      O      O      O      45      46  🧡🧡🧡🧡🧡🧡🧡
 16  송지원      O      O      O      O      O      49      46  🧡🧡🧡🧡🧡🧡🧡
 17  안현준      O      O      O      O      O      49      46  🧡🧡🧡🧡🧡🧡🧡
 18  안효수      O      O      O      O      O      50      46  🧡🧡🧡🧡🧡🧡🧡
 19  양희수      O      O      O      O      O       X       X    🧡🧡🧡🧡🧡
 20  오도은      O      O      O      O      O      49      47  🧡🧡🧡🧡🧡🧡🧡
 21  윤찬미      X      X      O      O      O       X       X      🧡🧡🧡
 22  이은혜      O      O      O      O      O      48      46  🧡🧡🧡🧡🧡🧡🧡
 23  이장훈      O      O      O      O      O      48      48  🧡🧡🧡🧡🧡🧡🧡
 24  이하늘      O      O      O      O      O      49      44  🧡🧡🧡🧡🧡🧡🧡
 25  장수현      O      O      O      O      O      45      46  🧡🧡🧡🧡🧡🧡🧡
 26  전상훈      O      O      O      O      O       X       X    🧡🧡🧡🧡🧡
 27  정승현      X      X      X      X      X       X       X      NaN
 28  정채원      O      O      O      O      O      46      42  🧡🧡🧡🧡🧡🧡🧡
 29  최준혁      O      O      O      O      O      45      46  🧡🧡🧡🧡🧡🧡🧡
 30  최진성      O      O      O      O      O       X       X    🧡🧡🧡🧡🧡
 31  한동호      X      X      X      X      X       X       X      NaN
 32   홍샘      X      X      O      O      O       X       X      🧡🧡🧡
 33  홍승우      O      O      O      O      O       X       X    🧡🧡🧡🧡🧡,
 'PD3A':    name pds1회차 pds2회차 pds3회차 pds4회차 pds5회차 단어시험01회 단어시험02회     life
 0   김가현      O      O      O      O      O       X       X    🧡🧡🧡🧡🧡
 1   김건영      O      O      O      O      O      50      49  🧡🧡🧡🧡🧡🧡🧡
 2   김나연      O      O      O      O      O      47      48  🧡🧡🧡🧡🧡🧡🧡
 3   김민선      O      O      O      O      O      48      50  🧡🧡🧡🧡🧡🧡🧡
 4   김민지      O      O      O      O      O       X      49   🧡🧡🧡🧡🧡🧡
 5   김성은      X      X      O      O      O      48      47    🧡🧡🧡🧡🧡
 6   김소운      X      O      O      O      O      47      47   🧡🧡🧡🧡🧡🧡
 7   박세훈      O      O      O      O      O      49      50  🧡🧡🧡🧡🧡🧡🧡
 8   박윤원      O      O      O      O      O      50      47  🧡🧡🧡🧡🧡🧡🧡
 9   박지현      O      O      O      O      O      48      49  🧡🧡🧡🧡🧡🧡🧡
 10  박찬우      X      X      X      X      X      50      49       🧡🧡
 11  배강식      O      O      O      O      O      50      49  🧡🧡🧡🧡🧡🧡🧡
 12  양진영      X      X      X      X      X       X       X      NaN
 13  유주다      O      O      O      O      O      47      49  🧡🧡🧡🧡🧡🧡🧡
 14  윤건희      O      O      O      O      O      49      50  🧡🧡🧡🧡🧡🧡🧡
 15  윤정빈      X      X      X      X      X       X       X      NaN
 16  윤태민      O      O      O      O      O       X      50   🧡🧡🧡🧡🧡🧡
 17  윤혜진      O      O      O      O      O      47      48  🧡🧡🧡🧡🧡🧡🧡
 18  이영서      O      O      O      O      O      49      49  🧡🧡🧡🧡🧡🧡🧡
 19  이재영      O      O      O      O      O      50      50  🧡🧡🧡🧡🧡🧡🧡
 20  이재은      O      O      O      O      O      47      48  🧡🧡🧡🧡🧡🧡🧡
 21  이지현      O      O      O      O      O      48      49  🧡🧡🧡🧡🧡🧡🧡
 22  정태영      X      X      X      X      X       X       X      NaN
 23  최다현      O      O      O      O      O      48      48  🧡🧡🧡🧡🧡🧡🧡
 24  최은결      O      O      O      O      O      48      47  🧡🧡🧡🧡🧡🧡🧡
 25  최형욱      O      O      X      X      X      49      50     🧡🧡🧡🧡,
 'PJ3A':    name pds1회차 pds2회차 pds3회차 pds4회차 pds5회차 단어시험01회 단어시험02회     life
 0   김서연      O      O      O      O      O      47      46  🧡🧡🧡🧡🧡🧡🧡
 1   김서윤      O      O      O      O      O      49      48  🧡🧡🧡🧡🧡🧡🧡
 2   김준석      O      O      O      O      O      37      40  🧡🧡🧡🧡🧡🧡🧡
 3   김준형      O      O      O      O      O      47      46  🧡🧡🧡🧡🧡🧡🧡
 4   김지원      O      O      O      O      O      46      48  🧡🧡🧡🧡🧡🧡🧡
 5   김지은      O      X      X      X      X      46      48      🧡🧡🧡
 6   김지훈      O      O      O      O      O      43      44  🧡🧡🧡🧡🧡🧡🧡
 7   김희진      O      O      O      X      X      47     NaN    🧡🧡🧡🧡🧡
 8   박동근      O      O      O      O      O      43      45  🧡🧡🧡🧡🧡🧡🧡
 9   박동제      O      O      O      O      O      40      40  🧡🧡🧡🧡🧡🧡🧡
 10  박종석      O      O      O      O      O      47      44  🧡🧡🧡🧡🧡🧡🧡
 11  심정연      O      O      O      O      O       X       X    🧡🧡🧡🧡🧡
 12  심지수      O      O      X      X      X      48       X      🧡🧡🧡
 13  이가경      O      O      O      O      O       X       X    🧡🧡🧡🧡🧡
 14  이서윤      O      O      O      O      O      48      47  🧡🧡🧡🧡🧡🧡🧡
 15  이성근      O      O      O      O      O       X       X    🧡🧡🧡🧡🧡
 16  이윤지      O      O      O      O      O      44      44  🧡🧡🧡🧡🧡🧡🧡
 17  이지선      O      O      O      O      O      44      43  🧡🧡🧡🧡🧡🧡🧡
 18  장혜원      O      X      X      X      X      43       X       🧡🧡
 19  장희수      O      O      O      O      X       X       X     🧡🧡🧡🧡
 20  채영진      O      O      O      O      O      50      47  🧡🧡🧡🧡🧡🧡🧡
 21  최계영      O      O      O      O      X       X       X     🧡🧡🧡🧡
 22  최서영      X      X      X      X      X      48      46       🧡🧡
 23  최유빈      O      O      O      O      O      47      49  🧡🧡🧡🧡🧡🧡🧡
 24  최효리      O      O      O      O      O      49      48  🧡🧡🧡🧡🧡🧡🧡
 25  한지원      O      O      O      O      O      48      47  🧡🧡🧡🧡🧡🧡🧡
 26  허연우      X      X      X      X      X       X       X      NaN,
 'PURPLE':      name pds1회차 pds2회차 pds3회차 pds4회차 pds5회차 단어시험01회 단어시험02회     life
 0     강민지      O      X      O      O      X      50      49    🧡🧡🧡🧡🧡
 1     국민희      O      O      O      O      O      47      45  🧡🧡🧡🧡🧡🧡🧡
 2     김다영      O      O      O      O      O      46      46  🧡🧡🧡🧡🧡🧡🧡
 3      김률      O      O      O      O      O      42      46  🧡🧡🧡🧡🧡🧡🧡
 4     김리경      O      O      O      O      O      49      47  🧡🧡🧡🧡🧡🧡🧡
 5     김미라      O      O      O      O      O      50      49  🧡🧡🧡🧡🧡🧡🧡
 6   김민지39      O      O      O      O      O      50      50  🧡🧡🧡🧡🧡🧡🧡
 7   김민지83      X      X      X      X      X       X       X      NaN
 8     김소정      O      O      O      O      O      50      49  🧡🧡🧡🧡🧡🧡🧡
 9     김수미      O      O      O      O      O      50      49  🧡🧡🧡🧡🧡🧡🧡
 10    김수민      O      O      O      O      O      46      50  🧡🧡🧡🧡🧡🧡🧡
 11    김수빈      O      O      O      O      O      49      48  🧡🧡🧡🧡🧡🧡🧡
 12    김이든      X      X      X      X      X      50      48       🧡🧡
 13    김주원      O      O      O      O      O      49      48  🧡🧡🧡🧡🧡🧡🧡
 14    김태연      O      O      O      O      O      49      48  🧡🧡🧡🧡🧡🧡🧡
 15    김현서      X      X      X      X      X       X       X      NaN
 16    김혜리      O      O      O      O      O      48      49  🧡🧡🧡🧡🧡🧡🧡
 17    김혜원      O      O      O      O      O      48      49  🧡🧡🧡🧡🧡🧡🧡
 18    나현서      O      O      O      O      O      46      49  🧡🧡🧡🧡🧡🧡🧡
 19    도윤주      O      O      O      O      O      50      50  🧡🧡🧡🧡🧡🧡🧡
 20    박명선      O      O      O      O      O      45      45  🧡🧡🧡🧡🧡🧡🧡
 21    박세미      O      O      X      X      X      48      50     🧡🧡🧡🧡
 22    박수아      O      O      O      O      O       X       X    🧡🧡🧡🧡🧡
 23    성지현      O      O      O      X      O      47      46   🧡🧡🧡🧡🧡🧡
 24    손가현      O      O      O      O      O      44      44  🧡🧡🧡🧡🧡🧡🧡
 25    손예리      O      O      O      O      O       X       X    🧡🧡🧡🧡🧡
 26    송나영      O      O      O      O      O      47      44  🧡🧡🧡🧡🧡🧡🧡
 27    송지현      O      O      O      O      O      49      49  🧡🧡🧡🧡🧡🧡🧡
 28    신채영      O      O      O      O      O      49      47  🧡🧡🧡🧡🧡🧡🧡
 29    신현주      O      O      O      O      O      48      50  🧡🧡🧡🧡🧡🧡🧡
 30    심성은      X      X      X      X      X       X       X      NaN
 31    양지혜      O      O      O      O      O      45      47  🧡🧡🧡🧡🧡🧡🧡
 32    오유빈      O      O      O      O      O      44      45  🧡🧡🧡🧡🧡🧡🧡
 33    이가빈      O      O      O      O      O      50      50  🧡🧡🧡🧡🧡🧡🧡
 34    이송하      O      O      O      O      O      49      48  🧡🧡🧡🧡🧡🧡🧡
 35    이예진      O      O      O      O      O      50      50  🧡🧡🧡🧡🧡🧡🧡
 36    이유나      O      O      O      O      O      48      49  🧡🧡🧡🧡🧡🧡🧡
 37    이지연      O      O      O      O      O      46      50  🧡🧡🧡🧡🧡🧡🧡
 38    이채영      O      O      O      O      O      46      41  🧡🧡🧡🧡🧡🧡🧡
 39    장유진      O      O      O      O      X       X      47    🧡🧡🧡🧡🧡
 40    장윤서      O      O      O      O      O      49      48  🧡🧡🧡🧡🧡🧡🧡
 41    전주현      O      O      O      O      O      46      47  🧡🧡🧡🧡🧡🧡🧡
 42    정다은      O      O      O      O      O      49      46  🧡🧡🧡🧡🧡🧡🧡
 43    정재윤      O      O      O      O      O      48      49  🧡🧡🧡🧡🧡🧡🧡
 44    진수정      O      O      O      O      O      50      49  🧡🧡🧡🧡🧡🧡🧡
 45    진휘현      O      O      O      O      O      49      49  🧡🧡🧡🧡🧡🧡🧡
 46    최다형      O      X      X      X      X      47      48      🧡🧡🧡
 47    최소현      O      O      O      O      O      50      50  🧡🧡🧡🧡🧡🧡🧡
 48    황서영      O      O      O      O      O       X       X    🧡🧡🧡🧡🧡,
 'RED':    name pds1회차 pds2회차 pds3회차 pds4회차 단어시험01회 단어시험02회     life
 0   김도현      O      O      O      O      48      50  🧡🧡🧡🧡🧡🧡🧡
 1   김민정      O      O      O      O      48      48  🧡🧡🧡🧡🧡🧡🧡
 2   김예진      O      O      O      O      45      45  🧡🧡🧡🧡🧡🧡🧡
 3   김지희      O      O      O      O      45      45  🧡🧡🧡🧡🧡🧡🧡
 4   김현진      O      O      O      O      48      47  🧡🧡🧡🧡🧡🧡🧡
 5   김혜빈      O      O      O      O      48      49  🧡🧡🧡🧡🧡🧡🧡
 6   박수현      O      O      O      O      50      50  🧡🧡🧡🧡🧡🧡🧡
 7   서유빈      O      O      O      O      47      49  🧡🧡🧡🧡🧡🧡🧡
 8   서지원      O      O      O      O      42      44  🧡🧡🧡🧡🧡🧡🧡
 9   손여빈      O      O      O      O      49      50  🧡🧡🧡🧡🧡🧡🧡
 10  송예윤      O      O      O      O      47      47  🧡🧡🧡🧡🧡🧡🧡
 11  송이정      O      O      O      O      49      50  🧡🧡🧡🧡🧡🧡🧡
 12  오주연      O      O      O      O      50      49  🧡🧡🧡🧡🧡🧡🧡
 13  오지현      O      O      O      O      49      49  🧡🧡🧡🧡🧡🧡🧡
 14  유지연      O      X      X      X       X       X       🧡🧡
 15  이규연      O      O      O      O       X       X    🧡🧡🧡🧡🧡
 16  이리사      X      X      X      X       X       X        🧡
 17  이솔지      O      O      O      O      48      49  🧡🧡🧡🧡🧡🧡🧡
 18  이승연      O      O      O      O      49      50  🧡🧡🧡🧡🧡🧡🧡
 19  이윤지      O      O      O      O      50      45  🧡🧡🧡🧡🧡🧡🧡
 20  이은서      O      O      O      O      46      48  🧡🧡🧡🧡🧡🧡🧡
 21  정수진      X      X      X      X      48      48      🧡🧡🧡
 22  정재연      O      O      O      O      49      50  🧡🧡🧡🧡🧡🧡🧡
 23  조민정      O      O      O      O      45      44  🧡🧡🧡🧡🧡🧡🧡
 24  최고은      O      O      O      O      50      49  🧡🧡🧡🧡🧡🧡🧡
 25  최수빈      O      O      O      O      48      49  🧡🧡🧡🧡🧡🧡🧡
 26  최지원      O      O      O      O      48      49  🧡🧡🧡🧡🧡🧡🧡
 27   한룻      O      O      O      O       X      49   🧡🧡🧡🧡🧡🧡
 28  홍래영      O      O      O      O      50      48  🧡🧡🧡🧡🧡🧡🧡}

In [138]:
df.to_excel('gg.xlsx')

AttributeError: 'dict' object has no attribute 'to_excel'

In [89]:
member_dict['PA3A'].name = 'name'
df_name = member_dict['PA3A'].to_frame()
df_name = df_name.iloc[2:,]
df_name.sort_values(by=['name'])

     name
2     강혜린
3     구준회
4     권영진
5     권지훈
6     김성준
7   김영현28
45    김예림
8     김채원
9     나소현
10    노건우
11    노재선
12    문하진
13    박민아
14    박상은
15    박성현
16    백영건
17    송시원
18    송원진
46    신태웅
19    안경수
20    안민수
21    안정현
22    유승민
23    윤준혁
24    이경민
25    이규희
26    이다은
27    이동현
28    이수진
29    이예은
30    이준헌
31    이형준
32    이혜빈
33    임선우
34    임채린
35    장지원
36    전승범
37    정윤혜
38    정진형
39     채민
40    최진웅
41    추예진
42    한민족
43    홍선주
44    홍혜원

In [81]:
pd.merge(df_name, df['PA3A'], how='outer', on='name')

     name pds1회차 pds2회차 pds3회차 pds4회차 pds5회차 단어시험01회 단어시험02회     life
0     NaN    NaN    NaN    NaN    NaN    NaN     NaN     NaN      NaN
1   독해 이철    NaN    NaN    NaN    NaN    NaN     NaN     NaN      NaN
2     강혜린      O      O      O      O      O      50      50  🧡🧡🧡🧡🧡🧡🧡
3     구준회      O      O      O      O      O       X       X    🧡🧡🧡🧡🧡
4     권영진      O      O      O      O      O      49      49  🧡🧡🧡🧡🧡🧡🧡
5     권지훈      X      X      X      X      X      50      50       🧡🧡
6     김성준      O      O      O      O      O       X       X    🧡🧡🧡🧡🧡
7   김영현28      O      O      O      O      O       X       X    🧡🧡🧡🧡🧡
8     김채원      O      O      O      O      O      46      45  🧡🧡🧡🧡🧡🧡🧡
9     나소현      O      O      O      O      X      50      48   🧡🧡🧡🧡🧡🧡
10    노건우      O      O      O      O      O      45      46  🧡🧡🧡🧡🧡🧡🧡
11    노재선      O      O      O      O      O       X       X    🧡🧡🧡🧡🧡
12    문하진      O      O      O      O      O      50      47  🧡🧡🧡🧡🧡🧡🧡
13    박민아      O      O      O      O      O      46      44  🧡🧡🧡🧡🧡🧡🧡
14    박상은      O      O      X      X      X       X       X       🧡🧡
15    박성현      O      O      O      O      O      48      48  🧡🧡🧡🧡🧡🧡🧡
16    백영건      X      O      O      O      O      33      34   🧡🧡🧡🧡🧡🧡
17    송시원    NaN    NaN    NaN    NaN    NaN     NaN     NaN      NaN
18    송원진      O      O      O      O      O      40      40  🧡🧡🧡🧡🧡🧡🧡
19    안경수      O      O      O      O      O      48      49  🧡🧡🧡🧡🧡🧡🧡
20    안민수      O      O      O      X      X      50      48    🧡🧡🧡🧡🧡
21    안정현      O      O      O      X      X      35      32    🧡🧡🧡🧡🧡
22    유승민      O      O      O      O      O      49      48  🧡🧡🧡🧡🧡🧡🧡
23    윤준혁      O      O      X      X      X      50      50     🧡🧡🧡🧡
24    이경민      O      O      O      O      O      50      49  🧡🧡🧡🧡🧡🧡🧡
25    이규희      O      O      O      O      O      47      47  🧡🧡🧡🧡🧡🧡🧡
26    이다은      O      O      O      O      O      49     NaN  🧡🧡🧡🧡🧡🧡🧡
27    이동현      O      X      X      O      O      50      50    🧡🧡🧡🧡🧡
28    이수진      O      O      O      O      O      49      49  🧡🧡🧡🧡🧡🧡🧡
29    이예은      O      O      O      O      O      50      50  🧡🧡🧡🧡🧡🧡🧡
30    이준헌      O      O      O      O      O      48      45  🧡🧡🧡🧡🧡🧡🧡
31    이형준      O      O      O      O      O      48      49  🧡🧡🧡🧡🧡🧡🧡
32    이혜빈      O      O      O      X      X      50      50    🧡🧡🧡🧡🧡
33    임선우      O      O      O      O      O      50      50  🧡🧡🧡🧡🧡🧡🧡
34    임채린      X      X      X      X      X      50      49       🧡🧡
35    장지원      O      O      O      O      O      45      43  🧡🧡🧡🧡🧡🧡🧡
36    전승범      O      O      O      O      O      47      50  🧡🧡🧡🧡🧡🧡🧡
37    정윤혜      O      O      X      X      X      47      46     🧡🧡🧡🧡
38    정진형      O      O      O      O      O      48      49  🧡🧡🧡🧡🧡🧡🧡
39     채민      O      O      O      O      O      47      45  🧡🧡🧡🧡🧡🧡🧡
40    최진웅      O      O      O      O      O      47      45  🧡🧡🧡🧡🧡🧡🧡
41    추예진      O      O      O      O      O      50      48  🧡🧡🧡🧡🧡🧡🧡
42    한민족      O      O      O      O      O       X       X    🧡🧡🧡🧡🧡
43    홍선주    NaN    NaN    NaN    NaN    NaN     NaN     NaN      NaN
44    홍혜원      O      O      O      O      O      49      47  🧡🧡🧡🧡🧡🧡🧡
45    김예림      O      O      O      O      O      47      48  🧡🧡🧡🧡🧡🧡🧡
46    신태웅      O      O      O      O      O      45      45  🧡🧡🧡🧡🧡🧡🧡

## pds 함수 (옛날거)

In [ ]:
def pds(nums):
    
    field = 'PDS복습'
    
    for class_id in list(class_dic.keys()):
        
        student_data = []
        
        for num in nums:
            
            tagnum = f'{num}차'

            tag = f'{field}{tagnum}'

            url = class_dic[class_id] + f'/hashtag/{tag}'
            driver.get(url)
            time.sleep(1)

            try: 
                driver.find_element_by_class_name('commentToggle._commentToggleBtn').click()
                time.sleep(2)

                for _ in range(4):
                    try:
                        driver.find_element_by_class_name('prevComment').click()
                        time.sleep(0.2)
                    except :
                        pass



                html = driver.page_source
                soup = BeautifulSoup(html, 'html.parser')
                students = soup.select('.itemWrap')


                for student in students :

                    name = student.select('button > strong')[0].text
                    if class_id == 'PURPLE':    # 퍼플은 반명을 한글로 적는 바람에 따로 해줘야 함 
                        name = name[5:].strip() # 전부 다 이거로 하게 되면 띄어쓰기 없는 애들은 솔팅 안됨 
                    score = 'O'

                    student_data.append([class_id, field, tagnum, name, score])

                print(len(student_data))
            
            except:
                pass

        columns = ['반명', '숙제이름', '회차', '이름', '점수']
        student_list = pd.DataFrame(student_data, columns=columns)
        student_list = student_list.drop_duplicates()
        student_list['이름'] = student_list['이름'].str.extract(r'([가-힣].*)') # 한글로 시작하는 시점부터 뒤까지 전부 불러와라 
        student_list.to_excel(f'{class_id}_{field}.xlsx', index=False)

In [ ]:
nums = list(range(1, 14))
pds(nums)

In [ ]:
v = 2
voca = [f'단어시험0{i}회' for i in range(1, v+1)]
voca

In [ ]:
students

In [ ]:
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')
students = soup.select('.itemWrap')

In [ ]:
data = []
for student in students :
    name = student.select('button > strong')[0].text
    if class_id == 'PURPLE':
        name = name[5:].strip()
    try :
        score = student.select('div.commentBody._commentModification > p')[0].text
    except :
        score =""
    data.append([name, score])
data

In [ ]:
students

In [ ]:
name = student.select('button > strong')[0].text
name

In [ ]:
score = student.select('p')[0].text

In [ ]:
students

In [ ]:
a = driver.find_element_by_css_selector('div.itemWrap > div.writeInfo > button > strong')

In [ ]:
student

In [ ]:
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
pds = soup.select('div.itemWrap > div.writeInfo > button')

In [ ]:
name_list = []
# pds_n = input('태그를 입력하세요 :')
pds_n = 'PDS복습34차'

for name in pds: 
    who = name.text
    who = who.replace('\n', "")
    where, who = who.split(" ")
    what = pds_n

    name_list.append([what, where, who])

    
df = pd.DataFrame(name_list, columns=['숙제이름', '반명', '이름'])
df

In [ ]:
class_dic

In [ ]:
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
# class_number = input("반명은? : ")
url = class_dic[class_number]+'/member'
# driver.get(url)
a = list(class_dic.keys())
a

In [ ]:
class_dic = {}
class_dic['PA3A'] = 'https://band.us/band/84576914'
class_dic['PB3A'] = 'https://band.us/band/84576918'
class_dic['PD3A'] = 'https://band.us/band/84576926'
class_dic['PJ3A'] = 'https://band.us/band/84576928'
class_dic['PURPLE'] = 'https://band.us/band/84570800'
class_dic['RED'] = 'https://band.us/band/84576846'
class_dic['PB7A'] = 'https://band.us/band/84600978'
class_dic['PD7A'] = 'https://band.us/band/84601004'


# class_number = input("반명은? : ")
member_list = []
for class_number in list(class_dic.keys()):
    url = class_dic[class_number]+'/member'
    driver.get(url)
    time.sleep(2)
    
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')

    member = soup.select('span.text.-flex')

    for name in member[1:]:
        who = name.text
        who = who.replace('\n', "")
        if class_number == 'PURPLE':
            who = who[5:].strip()
        where = class_number
        member_list.append([where, who])

member11 = pd.DataFrame(member_list, columns=['반명', '이름'])
member11['이름']=member11['이름'].str.extract(r'([가-힣].*)')
member11.to_excel('student_08.xlsx', index=False)

In [ ]:
member11['이름']=member11['이름'].str.extract(r'([가-힣].*)')

member11

In [ ]:
member11.to_excel('student_08.xlsx', index=False)

In [ ]:
class_dic = {}
class_dic['PA3A'] = 'https://band.us/band/84576914'
class_dic['PB3A'] = 'https://band.us/band/84576918'
class_dic['PD3A'] = 'https://band.us/band/84576926'
class_dic['PJ3A'] = 'https://band.us/band/84576928'
class_dic['PURPLE'] = 'https://band.us/band/84570800'
class_dic['RED'] = 'https://band.us/band/84576846'
class_dic['PB7A'] = 'https://band.us/band/84600978'
class_dic['PD7A'] = 'https://band.us/band/84601004'

In [ ]:
driver.add

In [ ]:
s = requests.Session()

In [ ]:
headers = {
    'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.159 Safari/537.36'
}
s.headers.update(headers)

In [ ]:
for cookie in driver.get_cookies():
    c = {cookie['name'] : cookie['value']}
    s.cookies.update(c)

In [ ]:
s.cookies

In [ ]:
response = s.get('https://band.us/band/84576914/hashtag/PDS%EB%B3%B5%EC%8A%B532%EC%B0%A8')
soup = BeautifulSoup(response.text, 'lxml')
soup

In [ ]:
for cookie in driver.get_cookies():
    driver.add_cookie(c)

In [ ]:
cks = driver.get_cookies()
cks