In [1]:
import pandas as pd
from homework import Homework, Export
from selenium import webdriver
import makedic as md

In [2]:
start_month = 1 #월부터 시작
week = 8 #주차
pre = week-1
tag_file = f'2022_{week}주차.xlsx'

def tag_df_preprocessing(file):
    df = pd.read_excel(file, sheet_name = 'sheet')
    df.dropna(axis=1, inplace=True)
    return df

addr = pd.read_excel('band_address.xlsx')
class_dic = md.make_class_dic(addr, 2022, start_month=start_month) 
class_select = class_dic.keys()
class_select

tag_df = tag_df_preprocessing(tag_file)
tag_df

  tag  PB3A  PD3A  SB1A
0   B     1     0     0
1   W     6     4     2
2   R     0     0     0
3   D     0     0     0
4  R+     2     0     0

In [3]:
a = Homework()
a.setting(class_dic, week)

In [22]:
# 명단가져오기
for class_id in class_select:
    a.get_member_info(class_id)
a.export_member_info()

In [20]:
# 명단지우기 
wo = pd.read_excel(tag_file_name, sheet_name = 'WO')
wo = wo.dropna(axis =1)

for wo_class in list(wo.columns):
    for wo_name in wo[wo[wo_class].apply(len) > 1][wo_class]:
        print(wo_class, wo_name)
        a.drop_member_info(wo_class, wo_name)

  PD3A
0   김건
1  심경보
2
PD3A 김건
PD3A 심경보

In [24]:
# 댓글 긁어오기
for class_id in class_select:
    for i, j in zip(tag_df['tag'], tag_df[class_id]):
        if not i[-1] == "+"  : 
            a.making_comment_tag_list(i, j)
        else :
            a.making_excel_tag_list(i, j)
    a.export_excel(class_id)
    a.comment_tag = []
    a.excel_tag = []

PB3A B-8-1 댓글 수:  27 27
PB3A W-8-1 댓글 수:  30 30
PB3A W-8-2 댓글 수:  29 29
PB3A W-8-3 댓글 수:  30 30
PB3A W-8-4 댓글 수:  30 30
PB3A W-8-5 댓글 수:  23 23
PB3A W-8-6 댓글 수:  19 19

In [25]:
# 엑셀 합치기 

with pd.ExcelWriter(f'{week}주차_comment.xlsx') as writer:  
    for class_id in class_select:
        df = Export(class_id, week, pre).heart()
        df.to_excel(writer, sheet_name=f'{class_id}', index=False)